.h1 {
	margin: 0;

	font-size: 26px;
	font-weight: 500;
	line-height: 35.41px;
}

.h2 {
	margin: 0;

	font-size: 22px;
	font-weight: 500;
	line-height: 29.96px;
}

.h3 {
	margin: 0;

	font-size: 20px;
	font-weight: 600;
	line-height: 27.24px;
}